ALPHA-2/Control
ALPHA-2/Dataset
PlotMLEfit/MLE_TOY.aux
PlotMLEfit/MLE_TOY.log
PlotMLEfit/MLE_TOY.out
PlotMLEfit/MLE_TOY.snm
PlotMLEfit/MLE_TOY.toc
PlotMLEfit/MLE_TOY.nav
PlotMLEfit/elog_version.nav
PlotMLEfit/elog_version.toc
PlotMLEfit/elog_version.snm
PlotMLEfit/elog_version.log
PlotMLEfit/elog_version.aux
PlotMLEfit/elog_version.out
ALPHA-2/LineShape/Beamer/HyperfineMontecarlo.aux
ALPHA-2/LineShape/Beamer/HyperfineMontecarlo.log
ALPHA-2/LineShape/Beamer/HyperfineMontecarlo.nav
ALPHA-2/LineShape/Beamer/HyperfineMontecarlo.out
ALPHA-2/LineShape/Beamer/HyperfineMontecarlo.snm
ALPHA-2/LineShape/Beamer/HyperfineMontecarlo.toc
ALPHA-2/LineShape/prova1.root
ALPHA-2/LineShape/prova2.root
ALPHA-2/.ipynb_checkpoints/
ALPHA-2/LineShape/Linear/
ALPHA-2/LineShape/linear/
ALPHA-2/LineShape/500Bin/
ALPHA-2/AutoDict_Functions.cxx
ALPHA-2/AutoDict_Functions_cxx.d
ALPHA-2/AutoDict_Functions_cxx.so
ALPHA-2/AutoDict_Functions_cxx_ACLiC_dict_rdict.pcm
ALPHA-2/LineShape/cosmic_0_delay_0/
ALPHA-2/LineShape/cosmic_0_delay_15/
ALPHA-2/LineShape/cosmic_0_delay_2.5/
ALPHA-2/LineShape/cosmic_0_delay_5fix/
Note/Report.aux
Note/Report.log
Note/Report.pdf
Note/Report.synctex.gz
PSR.pdf
Test_1/
Test_2/
Test_3/
Test_4/
Trash/
longWindow/
ALPHA-2/LineShape/linear/
ALPHA-2/LineShape/point1/
ALPHA-2/LineShape/point2/
ALPHA-2/LineShape/point3/
ALPHA-2/LineShape/point4/
ALPHA-2/LineShape/Plot
ALPHA-2/LineShape/.ipynb_checkpoints/
scanMvaData/
scanMvaData2/
scanMvaData3/
scanMvaData4/
ALPHA-2/Note/Report.aux
ALPHA-2/Note/Report.bbl
ALPHA-2/Note/Report.blg
ALPHA-2/Note/Report.log
Report/Report.aux
Report/Report.log
Report/Report.out
Report/Report.synctex.gz
Report/Report2.aux
Report/Report2.log
Report/Report2.out
Report/Report2.synctex.gz
ALPHA-2/Note/Report.out
s41586-018-0435-1.pdf
s41586-020-2006-5.pdf
s41586-023-06527-1.pdf
MinimalWorkingExempla.zip
MinimalWorkingExempla/

